@model HJLaundry.Models.ms_pegawai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ms_pegawai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nama_pegawai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_pegawai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tgl_lahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tgl_lahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jenis_kelamin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jenis_kelamin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telp_pegawai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telp_pegawai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat_pegawai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat_pegawai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_pgw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_pgw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ms_jabatan.nama_jabatan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ms_jabatan.nama_jabatan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pegawai }) |
    @Html.ActionLink("Back to List", "Index")
</p>
